
#wrapper{
    background-color: salmon;
    
    min-height: 600px;
    margin-bottom: 10px;
    position: relative;
    padding-top: 60px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;*/
    width: 100%;
}
.book{
    background-color: cornflowerblue;
    border: 100cap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    flex-basis: 300px;
}

.book > img{
   width: 20%;
}