/* External CSS */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: lightgray;
    padding: 10px;
}

.category {
    background-color: #f2f2f2;
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 20px;
}

h2 {
    background-color: lightblue;
    padding: 5px;
}

footer {
    background-color: lightgray;
    padding: 10px;
}

ul, ol {
    margin-top: 0;
}

img {
    max-width: 100%;
    height: auto;
}
